  {% extends 'base.html.twig' %}

    {% block title %} Contact {% endblock %}
    {% block content %}
     <!-- Navigation -->
        {{ include ('layout/menu.html.twig') }}

    <!-- Contact Section -->
      <header class="masthead">
          <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
              <h1 class="mx-auto my-0 text-uppercase">Contactez nous</h1>
            </div>
          </div>
        </header>
        <section class="contact-section bg-black">
          <div class="container">

            <div class="row">

              <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                  <div class="card-body text-center">
                    <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                    <h4 class="text-uppercase m-0">Adresse</h4>
                    <hr class="my-4">
                    <div class="small text-black-50"> 55 rue Ampère , 38490 Saint André le Gaz</div>
                  </div>
                </div>
              </div>

              <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                  <div class="card-body text-center">
                    <i class="fas fa-envelope text-primary mb-2"></i>
                    <h4 class="text-uppercase m-0">Email</h4>
                    <hr class="my-4">
                    <div class="small text-black-50">
                      <a href="#">adeline.delbecq@ynov.com</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                  <div class="card-body text-center">
                    <i class="fas fa-mobile-alt text-primary mb-2"></i>
                    <h4 class="text-uppercase m-0">Telephone</h4>
                    <hr class="my-4">
                    <div class="small text-black-50">03 45 34 12 90</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="social d-flex justify-content-center">
              <a href="#" class="mx-2">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#" class="mx-2">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#" class="mx-2">
                <i class="fab fa-github"></i>
              </a>
            </div>

          </div>
        </section>
  {% endblock %}
