
{% extends 'base.html.twig' %}

{% block title %} Nouvel Utilisateur {% endblock %}

{% block content %} 
     <!-- Navigation -->
        {{ include ('layout/menu.html.twig') }}
<div class="masthead">
    <div class="login-form">
        <div class="main-div">
            <div class="panel">
                <h2>Créer nouvel Utilisateur</h2>
                <p>Veuillez renseigner tous les champs<p>
            </div>
            {{ include('user/_form.html.twig') }}
                <a href="{{ path('user_index') }}">Retour</a>
        </div>
    </div>
</div>
{% endblock %}